<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        function parseParams(params) {
            let paramList = params.split("_");
            let domain = paramList[paramList.length-1].split("2557")
            let client_url = `https://${domain[0]}.${domain[1]}/${paramList[2]}?sub1=${paramList[0]}&sub2=${paramList[1]}&sub3=${paramList[2]}&sub4=${paramList[3]}&sub5=${paramList[4]}&sub6=${paramList[5]}&sub7=${paramList[6]}&sub8=${paramList[7]}&sub9=${paramList[8]}&sub10=${paramList[9]}&pixel=${paramList[10]}&system_id=${paramList[11]}&bundle=${paramList[12]}`
            console.log(client_url);
            return {
                "client_url" : client_url,
                "bundle": paramList[12]
            }
        }

        function startTransition(params) {
            window.location.replace(params["client_url"]);
        }

        async function makeRequestAndRedirect(params, bundle) {
            try {
                let parsedParams = parseParams(params);
                const response = await fetch('https://mtrentbot.online/check_db', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        params: parsedParams,
                        user: Telegram.WebApp.initDataUnsafe.user
                    })
                });

                if (response.ok) {
                    console.error('Запит вдався');
                } else {
                    console.error('Запит не вдався');
                }

                startTransition(parsedParams);
            } catch (error) {
                console.error('Помилка:', error);
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            Telegram.WebApp.ready();
            function getUrlParams() {
                const params = new URLSearchParams(window.location.search);
                let startParam = params.get('tgWebAppStartParam');
                return startParam;
            }

            function handleParams() {
                const startParam = getUrlParams();
                if (startParam) {
                    makeRequestAndRedirect(startParam);
                } else {
                    // Handle organic case here if needed
                }
            }

            handleParams();
        });
    </script>
</head>
<body>
    <div class="loading-bar"></div>
</body>
</html>
